@model Recipe

<h2>Детайли за рецептата</h2>

<div>
    <h4>@Model.Title</h4>
    <p><strong>Описание:</strong> @Model.Description</p>
    <p><strong>Време за приготвяне:</strong> @Model.PrepTimeInMinutes минути</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактиране</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Изтриване</a>
    <a asp-action="Index" class="btn btn-secondary">Назад към списъка</a>
</div>
